﻿<!doctype HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Anyong</title>
    <meta name="viewport"content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}"
</head>
<header>
    <nav class="navbar navbar-default">
        <div  class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div style="height:75px;" class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img style="max-width:240px; margin-top:-7px;" src="{{ url_for('static', filename='images/logo.png') }}">
                </a>
            </div>
                <a href="/">
                    <button style="margin-top:15px;" type="button" class="btn btn-success" aria-label="Left Align">
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>&nbsp; Get started
                    </button>
                </a>
                <ul class="nav navbar-nav navbar-right">
                    <li style="margin-right:25px;" class="dropdown">
                        <button style="margin-top:15px;" type="button" class="btn btn-danger" aria-label="Left Align">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp; Contact
                        </button>
                    </li>
                    <li style="margin-right:30px;" class="dropdown">
                        <button style="margin-top:15px;" type="button" class="btn btn-danger" aria-label="Left Align">
                            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>&nbsp; Support
                        </button>
                    </li>
                </ul>
        </div>
    </nav>
</header>
<body>
    <h2 style="margin-left:15px;">mx5s are cool</h2>
</body>
<footer>

</footer>
</html>
